@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", system-ui;
    
}

@media only screen and (max-width: 600px) {
    body {
      background-color: #4a154b;
    }

    .main-body{
        display: flex;
        flex-direction: column;
    }

    .title-main{
        margin-top: 30%;
        color:white;
    }

    .header-main{
        display: flex;
        height: 10px;
    }

    .nav-main{
        display: flex;
    }

    .menu-list{
        display: none;
    }

    .slack-img{
        height: 40px;
        margin-top: 5%;
        margin-left: 5%;
        
    }

    .right-side-img{
        margin-top: 5%;
        margin-right: 5%;
        margin-left: auto;
    }

    .search-img{
        height: 40px;
    }

    .burger-menu{
        height: 40px;
    }

.title-main{
    margin-left: 10%;
}

.container-main{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    }

  .first-section{
    height: 40vh;
    background-color: white;
    border-radius: 5px;
    border: solid 2px #ecdeec5d;
  }

  .first-section h3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ecdeec;
    text-align: center;
    height: 10vh;
    font-weight: 300;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .first-section-parent{
    display: flex;
    margin-left: 3%;
    margin-top: 3%;
    gap: 3%
  }

  .info-holder{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .mini-img-text-holder{
display: flex;
gap: 20px;
  }

  .chas-title{
    margin-top: 7%;
  }

  .mini-img-holder{
display: flex;
gap: 5px;
border-radius: 10%;
  }

  .launch-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4a154b;
    margin-left: 10%;
    margin-top: 10%;
    width: 80%;
    height: 15%;
    border-radius: 5px;
  }

  .launch-button a{
    text-decoration: none;
    color: white;
  }

  .second-section{
    display: flex;
    flex-direction: column;
        height: 13.5em;
        background-color: white;
        border-radius: 5px;
        border: solid 2px #ecdeec5d;
        margin-top: 10%;
        gap: 5%;
  }

  .second-title{
    margin-top: 2%;
    margin-left: 2%;
  }

  .another-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: solid 0.5px #4a154b;
    margin-top: 3.5%;
    margin-left: 5%;
    height: 20%;
    width: 90%;
    border-radius: 5px;
  }

  .another-button a{
    text-decoration: none;
    color: #4a154b;
    font-size: 1.5vw;
  }

  .computer-woman{
    width: 50%;
  }
  } 

  @media only screen and (min-width: 600px) { 
    body {
        background-color: #4a154b;
      }

      .main-body{
        display: flex;
        flex-direction: column;
    }

    .title-main{
        margin-top: 10%;
        margin-bottom: 5%;
        font-size: 5em;
        align-self: center;
        color:white;
    }

    .header-main{
        display: flex;
        height: 10px;
        align-items: center;
        justify-content: center;
        margin-top: 1%;
    }

    .nav-main{
       display: flex;
       flex-direction: column;
       margin: auto;
    }

    .slack-img{
        height: 40px;
        margin-top: 2%;
        margin-left: 2%;
        
    }

    .menu-list{
        display: flex;
        list-style: none;
        gap: 30%;
    }

    .menu-list li{
        color: white;
    }



    .right-side-img{
        margin-top: 2%;
        margin-right: 2%;
        margin-left: auto;
    }

    .search-img{
        height: 40px;
    }

    .burger-menu{
        height: 40px;
    }

    .container-main{
        margin-left: 10%;
        margin-right: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
    
      .first-section{
        height: 30vh;
        width: 45vw;
        background-color: white;
        border-radius: 5px;
        border: solid 2px #ecdeec5d;
      }
    
      .first-section h3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #ecdeec;
        text-align: center;
        height: 10vh;
        font-weight: 300;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    
      .first-section-parent{
        display: flex;
        margin-left: 3%;
        margin-top: 3%;
        gap: 3%
      }
      .info-holder{
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
      .mini-img-text-holder{
    display: flex;
    gap: 20px;
      }
    
      .chas-title{
        margin-top: 1%;
      }
    
      .mini-img-holder{
    display: flex;
    gap: 5px;
    border-radius: 10%;
      }
    
      .launch-button{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #4a154b;
        margin-left: 10%;
        margin-top: 2%;
        width: 80%;
        height: 15%;
        border-radius: 5px;
      }
    
      .launch-button a{
        text-decoration: none;
        color: white;
      }

      
  .second-section{
    display: flex;
    width: 45vw;
    align-items: center;
        background-color: white;
        border-radius: 5px;
        border: solid 2px #ecdeec5d;
        margin-top: 2%;
        gap: 5%;
  }

  .second-title{
    font-size: 1em;
    order: 2;
  }

  .another-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: solid 0.5px #4a154b;
    height: 20%;
    width: 90%;
    border-radius: 5px;
    order: 3;
  }

  .another-button a{
    text-decoration: none;
    color: #4a154b;
    font-size: 1vw;
  }

  .computer-woman{
    order: 1;
    height: 100%;
  }
    

  }